<div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
    Oops! <strong>Wrong Email or Password </strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>